.minesweeper .cell {
    width:32px;
    height:32px;
    border:2px outset #ddd;
    background:none;
    text-align: center;
    vertical-align: middle;
    color:#0ff;
    user-select: none;
}
.minesweeper .cell.clicked {
    border:2px solid #bbb;
    background:#4448;
}
.minesweeper .cell.clicked.mine:not(.flagged) {
    background:#c22c;
}

.minesweeper .cell:active:not(.clicked) {
    background:#aaa;
    border:2px inset #ddd;
}

.minesweeper .row {
    display:flex;
    flex-direction: row;
}
.minesweeper .board {
    max-width:fit-content;
    margin:16px auto;
    display:flex;
    flex-direction:column;
}
.minesweeper .board.gameover {
    pointer-events: none;
}

.minesweeper {
    margin:8px auto;
}